/* ------------------------------------------------------------- */
/* RESET STYLES */
/* ------------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.6;
  font-family: "Montserrat Alternates", sans-serif;
}

.one:first-child,
.two:first-child,
.three:first-child,
.four:first-child,
.five:first-child,
.six:first-child,
.seven:first-child,
.eight:first-child,
.nine:first-child,
.ten:first-child,
.eleven:first-child {
  margin-left: 0; /* Align left start column with left of screen */
}

.eleven {
  width: 91.5%;
  float: left;
  margin-left: 2%;
}

.ten {
  width: 83%;
  float: left;
  margin-left: 2%;
}

.nine {
  width: 74.5%;
  float: left;
  margin-left: 2%;
}

.eight {
  width: 66%;
  float: left;
  margin-left: 2%;
}

.seven {
  width: 57.5%;
  float: left;
  margin-left: 2%;
}

.six {
  width: 49%;
  float: left;
  margin-left: 2%;
}

.five {
  width: 40.5%;
  float: left;
  margin-left: 2%;
}

.four {
  width: 32%;
  float: left;
  margin-left: 2%;
}

.three {
  width: 23.5%;
  float: left;
  margin-left: 2%;
}

.two {
  width: 15%;
  float: left;
  margin-left: 2%;
}

.one {
  width: 6.5%;
  float: left;
  margin-left: 2%;
}

/* Column 12 spans full width of container */
.row {
  width: 100%;
  clear: both; /* Clear creates new styles for the next row */
  padding: 0px;
  margin: 0px;
}
/* ------------------------------------------------------------- */
/* HERO IMAGE */
/* ------------------------------------------------------------- */
.container {
  width: 100%; /* Width of entire website */
  margin-right: auto;
  margin-left: auto; /* Margin right and left set to auto to centre container */
  background-color: #111;
  background-image: url(/img/contactus.png);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: top;
  background-size: cover;
  z-index: 10;
}

.row1 {
  width: 100%;
  height: auto;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  position: top;
  z-index: 10;
}

p {
  color: #fff;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 13px;
  color: lightslategray;
  font-weight: 100;
  line-height: 20px;
  margin-left: 0px;
}

.row1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: lightslategray;
  font-weight: 400;
  line-height: 52px;
  margin-left: 0px;
  text-align: left;
  z-index: 200;
}

.row1 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: lightslategray;
  font-weight: 400;
  line-height: 30px;
  margin-left: 0px;
  text-align: left;
  z-index: 200;
}

.row2 h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: lightslategray;
  font-weight: 400;
  line-height: 30px;
  margin-left: 0px;
  text-align: left;
  z-index: 200;
}

.row1 .one {
  width: 32%;
  height: auto;
}

.row1 .two {
  width: 32%;
}

.row1 .three {
  width: 32%;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: none;
  color: #fff;
  margin-top: 20px;
  width: 180px;
  padding: 10px;
  align-items: bottom;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  z-index: 100;
  cursor: pointer;
}

.button a {
  opacity: 0.7;
}

form {
  display: inline-block;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  background-color: transparent;
  width: 50%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid rgba(204, 204, 204, 0.2); /* Gray border */
  border-radius: 0; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  width: 50%;
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: 1px solid rgba(204, 204, 204, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: lightslategray;
}

/* Add a background color and some padding around the form */

/* ------------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------------- */

.footer {
  background-color: #111;
  height: 270px;
  padding: 2%;
}

.row2 .two {
  width: 15%;
  float: left;
  height: 200px;
}

iframe {
  margin-top: 40px;
  opacity: 0.9;
}
